TAOBAO_APP_KEY=your_app_key
TAOBAO_APP_SECRET=your_app_secret
TAOBAO_SESSION_KEY=your_session_key
TAOBAO_GATEWAY=https://eco.taobao.com/router/rest
DEFAULT_STATE=浙江
DEFAULT_CITY=金华
DEFAULT_CATEGORY_ID=50008879
DEFAULT_SHIPPING_TEMPLATE_ID=0
DRY_RUN=true
